<section class="laptop-section full-section" #laptopSection>
  <div class="laptop-mockup">
    <div class="laptop-screen-area">

      <div class="final-nav" #finalNav>
        <ul>
          <li class="active">Home</li>
          <li >Projects</li>
        </ul>
      </div>

      <div class="side-links" #sideLinks>
        <p #sideLink1>About us</p>
        <p #sideLink2>Location</p>
        <p #sideLink3>Contact us</p>
      </div>

      <h3 class="find-text d-flex flex-column mt-2" #findText>Find the Right Part, <span class="fw-bold">Every Time.</span></h3>

      <div class="image-container" #imageContainer >
        
        <video #img1  loop playsinline>
          <source src="assets/FromKlickPinCFMotorcycleGear.mp4" type="video/mp4">
          متصفحك لا يدعم الفيديو.
        </video>
        
        <video #img2 muted loop playsinline>
          <source src="assets/FromKlickPinCFMotorcycleGear.mp4" type="video/mp4">
          متصفحك لا يدعم الفيديو.
        </video>
        
        <video #img3 muted loop playsinline>
          <source src="assets/FromKlickPinCFMotorcycleGear.mp4" type="video/mp4">
          متصفحك لا يدعم الفيديو.
        </video>
        
        <video #img4 muted loop playsinline>
          <source src="assets/FromKlickPinCFMotorcycleGear.mp4" type="video/mp4">
          متصفحك لا يدعم الفيديو.
        </video>
        <video #img5 muted loop playsinline>
          <source src="assets/FromKlickPinCFMotorcycleGear.mp4" type="video/mp4">
          متصفحك لا يدعم الفيديو.
        </video>
      </div>



      <div class="orange-bg" id="orange-top" #orangeTop></div>
      <div class="orange-bg" id="orange-bottom" #orangeBottom></div>

    </div>
          <h1 class="logo-adel" #logoAdel></h1>
      <div class="logo-shalaby" #logoShalaby>
<img src="assets/logo.png" width="300px" alt="">
      </div>
  </div>
</section>

<section class="next-section position-relative full-section list-container" #nextSection>

        <div class="logo-shalaby-overlay" #logoShalaby>
<img src="assets/logo.png" width="300px" alt="">
      </div>

  <div class="imag"  >
    <img src="assets/Component 22.svg"  alt="" #image>
    </div>
  <div class="content " #nextSectionContent>
    <p #paragraph>From engine components to brake pads, filters, and body panels <span>— AutoParts Egypt connects you with a wide range of genuine and aftermarket car parts for all major brands: Toyota, Hyundai, Kia, Nissan, BMW, Mercedes, and more.</span></p>
  </div>
  <button class="btn ">
    Shop Now
  </button>
  <div class="product-cards-container " #productCardsContainer>
    <div class="cards" #card1>
       <img src="assets/Group 31.png" height="300px" alt="Car Wheels"> 
    </div>
    <div class="cards" #card2>
       <img src="assets/Group 36.png" height="300px" alt="Car Wheels"> 
    </div>
    <div class="cards" #card3>
       <img src="assets/Group 40.png" height="300px" alt="Car Wheels"> 
    </div>
  </div>

</section>






